<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carepaws.mapper.AddressBookMapper">

    <!--
    查询地址簿列表
    @param addressBook 包含查询条件的AddressBook对象，可选条件包括：userId、phone、isDefault
    @return AddressBook对象列表
    -->
    <select id="list" parameterType="AddressBook" resultType="AddressBook">
        select * from address_book
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="phone != null">
                and phone = #{phone}
            </if>
            <if test="isDefault != null">
                and is_default = #{isDefault}
            </if>
        </where>
    </select>

    <!--
    更新地址簿信息
    @param addressBook 包含更新数据的AddressBook对象，根据id进行更新，可更新字段包括：consignee、sex、phone、detail、label、isDefault
    @return 受影响的记录数
    -->
    <update id="update" parameterType="addressBook">
        update address_book
        <set>
            <if test="consignee != null">consignee = #{consignee},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="phone != null">phone = #{phone},</if>

            <if test="provinceCode != null">province_code = #{provinceCode},</if>
            <if test="provinceName != null">province_name = #{provinceName},</if>
            <if test="cityCode != null">city_code = #{cityCode},</if>
            <if test="cityName != null">city_name = #{cityName},</if>
            <if test="districtCode != null">district_code = #{districtCode},</if>
            <if test="districtName != null">district_name = #{districtName},</if>

            <if test="detail != null">detail = #{detail},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="label != null">label = #{label},</if>
            <if test="isDefault != null">is_default = #{isDefault},</if>

            update_time = now(),
        </set>
        where id = #{id}
    </update>

</mapper>
